<%= form_for(@accounts_group) do |f| %>
  <% if @accounts_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounts_group.errors.count, "error") %> prohibited this accounts_group from being saved:</h2>

      <ul>
      <% @accounts_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.number_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
